p{
    font-size:small;
    font-style: oblique;
    color:seagreen;
}
body{
    background-color: wheat;
}
li{
    font-size:large;
    color:brown;
}
h1{
    color:brown;
    font-size: x-large;
}
h3{
    color:brown;
    font-size: x-large;
}
h2{
    color:brown;
    font-size: large;
}
h4{
    color:brown;
}